/* 
Project: Landing Page for Anthony Arrasi
Author: Basil Vetas
Date: 24 October 2014;
*/

/*----------------------------------------------------------------------------- 
01=DOCUMENT LAYOUT   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
   -moz-box-sizing: border-box; /* Firexfox */
   -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
   box-sizing: border-box; /* IE */
}

/* Document level font adjustments */

/* Desktop */
html {
  font-size: 10px;
  height: 100%;
}

/* Tablet */
@media (max-width: 768px) {
  html { 
    font-size: 8px; 
    height: 100%;
  }
}

/* Mobile */
@media (max-width: 480px) {
  html { 
    font-size: 6px; 
    height: 100%;
  }
}

body {  
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  background: url(white);
  height: 100%;

  /* Full Page Background Receipe */
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
}

#wrapper {
  min-height: 100%;
   /*equal to footer height */
  margin-bottom: -5rem; 
}

#wrapper:after {
  content: "";
  display: block;
   /*equal to footer height */
  height: -5rem;
}

p {
  font-size: 1.4rem;
}

h3 {

}

h4 {
  
}

h5 {

}

h6 {  

}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

img {

}

/*----------------------------------------------------------------------------- 
02=UTILITIES
-----------------------------------------------------------------------------*/

.right-align {
  float: right;
}

.left-align {
  float: left;
}

.clear {
  clear: both;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

#current-date { 
  /* Manipulated with Javascript */
}

/*----------------------------------------------------------------------------- 
03=HEADER
-----------------------------------------------------------------------------*/

header {  
  background: #552448;
  padding: 1rem 4rem;
  width: 100%;
  float: left;
}

.head-text {
  float: left;    
  font-size: 1.2rem;
  font-family: georgia, times, serif;
  color: #FAF7C5; 
  margin-right: 1rem;
  padding-top: 1rem;

}

h1 {  
  font-size: 1.6rem;
  font-family: georgia, times, serif;
}

.profile-pic {  
  float: left;
  margin: 2rem 2rem 2rem 0;  
}

.company-logo {  
  float: right;
  margin: 2rem 0 2rem 2rem;
}

img.profile-pic {
  max-width: 14rem;
}

img.company-logo {
  max-width: 12rem;
}

/*----------------------------------------------------------------------------- 
04=NAV
-----------------------------------------------------------------------------*/

nav {   }

/*----------------------------------------------------------------------------- 
06=SLIDESHOW
-----------------------------------------------------------------------------*/

#container {
  padding-top: 10rem;
}

#slideshow {   
  float: left;
  position: relative;
  width: 100%;   
  box-shadow: 0 0 2em rgba(0,0,0,0.4); 
}

#slideshow:before {
  content: "";
  display: block;
  padding-top: 31.2%;  /* initial ratio */  
}

#slideshow div { 
  /* Manipulated with Javascript */
  position: absolute; 
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slide {
  /* Manipulated with Javascript */
}

#slideshow img {
  max-width: 100%;
  display: block;
}

/*----------------------------------------------------------------------------- 
05=MAIN
-----------------------------------------------------------------------------*/

#main {
  float: left;
  padding: 1rem 4rem;
  color: #000000;   
}

/*----------------------------------------------------------------------------- 
07=LEFT COLUMN
-----------------------------------------------------------------------------*/

#main .left-col {
  float: left;
  width: 100%;
  max-width: 100%;
}

.left-col img {
  float: left;
  margin: 2rem 0;
  max-width: 20rem;
}

article {
  float: left;
}

h2 {  
  font-size: 2rem;
  font-family: georgia, times, serif;
  color: #552448;     
}

/*----------------------------------------------------------------------------- 
08=RIGHT COLUMN
-----------------------------------------------------------------------------*/

#main .right-col {
  float: left;
  width: 0%; 
  max-width: 0%;
}

/*----------------------------------------------------------------------------- 
09=FOOTER
-----------------------------------------------------------------------------*/

footer {
  border-top: .1em solid #DDDDDD;
  height: 5rem;
  width: 100%;
  background: #552448;
  float: left;
  padding: 1rem 4rem;
}

.foot-text {
  font-size: 1rem;
  color: #FAF7C5; 
}
